.charakter-vbox {
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-background-radius: 10;
    -fx-pref-width: 150;
    -fx-alignment: top-center;
}

.charakter-vbox:hover {
    -fx-background-color: "91E0FF";
}

.charakter-vbox:ausgewaehlt {
    -fx-border-color: "3D5E6B";
    -fx-background-color: "87CEEB";
}

.charakter-vbox:nicht-freigeschaltet {
    -fx-background-color: "D4D4D4";
}

.charakter-vbox:nicht-freigeschaltet:hover {
    -fx-background-color: silver;
}

.charakter-vbox #charakter-name {
    -fx-font-size: 16;
}

#kartenDeck {
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 20;
}