.button {
    -fx-text-fill: "000000";
    -fx-border-color: "000000";
    -fx-border-width: 1;
    -fx-padding: 8, 16, 8, 16;
    -fx-font-family: Calibri;
    -fx-font-size: 14;
    -fx-border-radius: 6;
}

.button:hover {
    -fx-background-color: "ffe3ff";
    -fx-text-fill: "000000";
    -fx-background-radius: 6;
}

.button:disabled {
    -fx-border-color: "4f504f";
    -fx-text-fill: "4f504f";
}

#neuesSpielButton {
    -fx-font-weight: bold;
}