.root {
    -fx-background-image: url(../bilder/Ebene.png);
    -fx-background-size: cover;
}

.root .scroll-pane {
    -fx-background-color: transparent;
}

.root .scroll-pane .viewport {
    -fx-background-color: transparent;
}

#spielebenenGitter {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: white;
    -fx-text-fill: "000000";
    -fx-border-color: "000000";
    -fx-border-width: 1;
    -fx-padding: 8, 16, 8, 16;
    -fx-font-size: 14;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.button:hover {
    -fx-background-color: "ffe3ff";
    -fx-text-fill: "000000";
}

.button:disabled {
    -fx-border-color: "4f504f";
    -fx-text-fill: "4f504f";
}

.raum-pane #zimmer {
    -fx-pref-height: 80;
    -fx-pref-width: 80;
}

.raum-pane {
    -fx-alignment: center;
    -fx-border-width: 0 20 20 0;
    -fx-border-color: #2e4c4c;
    -fx-background-radius: 10 10 10 10;
    -fx-background-insets: 5 25 25 5;
}

.raum-pane:hover {
    -fx-background-color: #f0c723;
}

.raum-pane:nichtig {
    -fx-opacity: 0;
}

.raum-pane:spieler #zimmer {
    -fx-background-image: url(../bilder/Spielfigur.png);
    -fx-background-size: 30;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}