.button {
    -fx-background-color: white;
    -fx-text-fill: "000000";
    -fx-border-color: "000000";
    -fx-border-width: 1;
    -fx-padding: 8, 16, 8, 16;
    -fx-font-size: 14;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.button:hover {
    -fx-background-color: "ffe3ff";
    -fx-text-fill: "000000";
}

.artefakte-talente-vbox {
    -fx-background-color: white;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-alignment: center;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}